out/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
gdl-sharp-3.pc
install-sh
missing
sources/Makefile
sources/Makefile.in
sources/gdl-*/
stamp-h

