Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
gdl-sharp-3.pc
install-sh
missing
out/
sources/AssemblyInfo.cs
sources/Makefile
sources/Makefile.in
sources/gdl-*
sources/generated-stamp
stamp-h

